body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #0056b3; /* Even darker blue color */
    overflow: hidden;
    text-align: right; /* Align the navigation to the left */
    padding: 10px 0; /* Adjust the padding to make the ribbon less thick */
}

.navbar ul {
    padding: 0;
    list-style: none;
}

.navbar li {
    display: inline;
}

.navbar a {
    display: inline-block;
    padding: 10px 15px; /* Adjust padding as needed */
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent; /* Add border */
    border-radius: 5px; /* Rounded corners */
    margin-right: 10px; /* Add spacing between navigation items */
    font-size: 18px; /* Increase font size */
}

.navbar a:hover {
    background-color: #004c99; /* Even darker blue on hover */
    border-color: #004c99; /* Change border color on hover */
}

.container {
    margin: 20px auto; /* Add top margin to separate the container from the navigation bar */
    max-width: 400px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0056b3;
    font-size: 24px;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
}

form {
    text-align: left;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="button"] {
    background-color: #0056b3;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #0056b3; /* Dark blue on hover */
}

a {
    text-decoration: none;
    color: #0056b3;
    font-weight: bold;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}
